@model List<string>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="d-flex">

    @foreach (var url in Model)
    {
        <div class="card" style="width: 20rem;">
            <img src="@url" class="card-img-top" alt="categories" style="width: 100%; height: 250px">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>