@if (User.Identity!.IsAuthenticated)
{
    <a asp-action="CurrentProfile" asp-controller="Home" class="btn btn-primary mx-4">@User.Identity.Name</a>
    <a asp-action="Logout" asp-controller="Home" class="btn btn-outline-danger">Sign Out</a>
}
else
{
    <div>
        <a asp-action="Authentication" asp-controller="Account" class="btn btn-primary">Sign In</a>
        <a asp-action="Register" asp-controller="Account" class="btn btn-success">Register</a>

    </div>
}